<%if @current_seat && @current_seat.id == t.id %>

<li id="current_item">
<% else %>
	<li >
<%end%>		
<%= link_to t.seat, t, :"data-avail"=> t.available, :"data-incart"=> t.in_cart(@cart), :"data-toggle"=>"modal", :"data-target"=>"#myModal" %>


	</a>
<%#=@cart.line_items%>

</li>