<tbody>
<%for t in @showtime.tickets%>
<%if @current_seat && @current_seat.id == t.id %>

<tr id="current_item">
<% else %>
	<tr >
<%end%>		
		<td>

			<%=t.seat%> 
		</td>
		
		<td>

			<%=t.price%> 
		</td>
		<td><% if t.available %><%= button_to 'Add to Cart' , line_items_path(:ticket_id => t.id), :remote => true %><%end%></td>
		<td>
			<%=t.available%>
		</td>
	</tr>

	<%end%>
</tbody>