
<div id="stage"><img alt="stage" src="/stage.png"></div>

    <ul class ="clearfix" id="A">
          <li class="buffer">A</li>
        <li ng-repeat="entry in entries | limitTo:22 ">
        <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
          <li class="buffer">A</li>
          
         

    </ul>

	<ul class ="clearfix" id="B">
        <li class="buffer">B</li>
        <li ng-repeat='entry in entries | limitTo:45 |limitTo:-23 '>
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">B</li>
       
    </ul>
    <ul class ="clearfix" id="C">
        <li class="buffer">C</li>
        <li ng-repeat="entry in entries | limitTo:67 | limitTo:- 22">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">C</li>
       
    </ul>
    <ul class ="clearfix" id="D">
        <li class="buffer">D</li>
        <li ng-repeat="entry in entries | limitTo:90 | limitTo:- 23">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">D</li>
        
    </ul>
    <ul class ="clearfix" id="E">
        <li class="buffer">E</li>
        <li ng-repeat="entry in entries | limitTo:112 | limitTo:- 22">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">E</li>
        
    </ul>
    <ul class ="clearfix" id="F">
        <li class="buffer">F</li>
        <li ng-repeat="entry in entries | limitTo:135 | limitTo:- 23">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">F</li>
        
    </ul>
    <ul class ="clearfix" id="G">
        <li class="buffer">G</li>
        <li ng-repeat="entry in entries | limitTo:157 | limitTo:- 22">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">G</li>
        
    </ul>
    <ul class ="clearfix" id="H">
        <li class="buffer">H</li>
        <li ng-repeat="entry in entries | limitTo:180 | limitTo:- 23">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">H</li>
        
    </ul>
    <ul class ="clearfix" id="J">
        <li class="buffer">J</li>
        <li ng-repeat="entry in entries | limitTo:202 | limitTo:- 22">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">J</li>
        
    </ul>
  <ul class ="clearfix" id="K">
        <li class="buffer">K</li>
        <li ng-repeat="entry in entries | limitTo:225 | limitTo:- 23">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">K</li>
        
    </ul>
    <ul class ="clearfix" id="L">
        <li class="buffer">L</li>
        <li ng-repeat="entry in entries | limitTo:247 | limitTo:- 22">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">L</li>
        
    </ul>
    <ul class ="clearfix" id="M">
        <li class="buffer">M</li>
        <li ng-repeat="entry in entries | limitTo:270 | limitTo:- 23">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">M</li>
        
    </ul>
    <ul class ="clearfix" id="N">
        <li class="buffer">N</li>
        <li ng-repeat="entry in entries | limitTo:292 | limitTo:- 22">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">N</li>
        
    </ul>
    <ul class ="clearfix" id="P">
        <li class="buffer">P</li>
        <li ng-repeat="entry in entries | limitTo:315 | limitTo:- 23">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">P</li>
        
    </ul>
    <ul class ="clearfix" id="Q">
        <li class="buffer">Q</li>
       <li ng-repeat="entry in entries | limitTo:337 | limitTo:- 22">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">Q</li>
        
    </ul>
    <ul class ="clearfix" id="R">
        <li class="buffer">R</li>
        <li ng-repeat="entry in entries | limitTo:360 | limitTo:- 23">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">R</li>
        
    </ul>
    <ul class ="clearfix" id="S">
        <li class="buffer">S</li>
        <li ng-repeat="entry in entries | limitTo:382 | limitTo:- 22">
            <a data-toggle="modal" data-target="#myModal" data-incart="false" data-avail="{{entry.available}}" href="/tickets/{{entry.id}}<">{{entry.seat}}</a></li>
        <li class="buffer">S</li>
        
    </ul>

    
    




<br class="clear">
