/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#seatingplan {
    cursor: pointer;
    transition: all 0.1s ease-out 0s;
    text-align: center;
}
#seatingplan ul {
    height: 9px;
    padding: 5px;
}
#seatingplan li {
    display: block;
    float: left;
    font-size: 14px;
    margin: 1px;
}
#seatingplan li.buffer {
    color: #990000;
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
    width: 10px;
}
#seatingplan li a {
    background-color: #EEEEEE;
    border: 1px solid #BBBBBB;
    border-radius: 2px;
    display: block;
    line-height: 19px;
    text-align: center;
    transition: all 0.1s ease-out 0s;
    width: 22px;
    font-size: 12px;
}
#seatingplan li a:hover {
    background: none repeat scroll 0 0 #BBBBBB;
}
#seatingplan li a.na {
    background-color: #EEEEEE;
    background-image: url("/na.png");
    background-position: 50% 50%;
    cursor: not-allowed;
}
#seatingplan li a.na:hover {
    background-image: url("/na.png");
    background-position: 50% 50%;
    cursor: not-allowed;
}
#seatingplan li a.selected {
    background: none repeat scroll 0 0 #336699;
    border-color: #336699;
    color: #FFFFFF;
}
#rowA, #rowC, #rowE, #rowH, #rowK, #rowN, #rowQ, #rowS {
    
}
#stage {
    margin-bottom: 20px;
    text-align: center;
}
.side {
    position: relative;
}
