body { padding-top: 35px; }

a{
    text-decoration: none;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}

.add_fields
{
    
    display: block;
}

nav
{
    background: #fefefe;
    border-bottom: 1px dotted #ccc;
}
.btn{
    border-radius: 3px;
    background: #cc0000;
    color: #fff;
    display: inline-block;
    
    text-align: center;
    margin: 2px 2px 2px 0;
     transition: 0.25s ease-out; 

}
.btn:hover
{
    
}

.seat{
    display: inline-block;
    width:20px;
    height: 20px;
    background:#eee;
    margin: 2px;
    border:1px solid #999;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;

}

img {
    max-width: 100%;
}


html body tr.soldout td 
{
    background: url('/soldout-bg.png')!important;
}
body .btn:hover, body .btn:focus {
    color: #ffffff;
    text-decoration: none;
    opacity:0.7;
}
#main-nav
{
    clear: right;

}
#user_nav
{
  
}
#adminbar 
{
    min-height: 2px;

}

#adminbar .navbar-nav > li > a {

    padding: 3px;
    margin:3px;

}
#adminbar .navbar-text
{
    margin: 6px;
}
footer
{
    margin-top: 20px;
    background: none repeat scroll 0 0 #F4F5F7;
    border-color: #E5EAEE ;
    border-style: solid none;
    border-width: 1px 0;
    color: #7B8084;
}
.meter-all
{
    background: #bbb;
    height: 7px; float:left;
}
.meter-booked
{height: 7px;
background: #336699;
float: left;}
html body table td.metercell {
    padding: 0;
}