$('#myModal').modal('hide');

$('#flash').html("<div class='alert alert-danger fade in'><a class='close' data-dismiss='alert' href='#'>×</a><h4>Oops, seems like someone was faster putting this ticket into the basket</h4><p>We refreshed seatingplan to show available seats @<%=Time.now%></p></div>");