<tr class="contextlinks-row">
	<td colspan="3">
		<div class="dropdown">
		  <a data-toggle="dropdown" href="#" class="badge"><span class="glyphicon glyphicon-cog"></span>
</a>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="Label">
		    <li><%= link_to 'Edit', edit_showitem_path(showitem) %></li>
		     <li><%= link_to 'Show', showitem %></li>
		    <li class="divider" role="presentation"></li>
		    <li><%= link_to 'Destroy', showitem, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		   
		  </ul>
		</div>

		
	</td>
</tr>