<div id='ad-cont'>
	<img src="/ad.jpg" />
	<div class="ad-caption">
	 <h5 class="ad-tit"> VIP CLUB</h5>
                <%= link_to 'LEARN MORE', '#', :class=>"btn  btn-danger" %>
                   </div>   
       </div>         
</div>